<%= render partial: 'shared/shelter_header' %>

<section id="pending_apps">
  <h3> Shelters with Pending Applications </h3>
  <% @shelters_app_pending.each do |shelter| %>
	  <p><%= shelter %></p>
	  <% end %>
</section>